.send-email form .essintial label,
.send-email form .for-mobile label ,
.send-email form div:last-of-type label {
  text-align: right ;
}

.send-email form button {
  margin-left: 70% ;
  margin-right: 0 ;
}

@media (max-width: 375px) {
  header nav .container .bullets span a.active {
    border-bottom-color: #fb9340;
  }

  .info hr,
  .find-us hr {
    width: 75%;
  }

  .info h2,
  .find-us h2,
  .info p,
  .find-us p,
  .info>div {
    width: 90%;
    margin: 10px auto;
  }
  .info > div img {
    width: 15% ;
  }

  .send-email form {
    width: 90%;
  }

  .send-email form .for-mobile {
    display: flex !important ;
    margin: 20px 0;
    align-items: center;
  }

  .send-email form .for-mobile input {
    width: 80%;
    margin: 5px 0;
  }

  .send-email form .for-mobile label {
    width: 18%;
    margin: 0;
  }
  .send-email .essintial {
    display: none !important ;
  }
  .send-email form button {
    width: 50% ;
  }
}